* {
  background-color: rgb(47, 62, 71);
}
h1 {
  padding: 20px;
  background-color: azure;
  font-family: "Times New Roman";
}
ul {
  background-color: azure;
  font-size: 15px;
}
input {
  background-color: azure;
}
select {
  background-color: azure;
}
textarea {
  background-color: azure;
}
input[type="submit"],
input[type="reset"] {
  background-color: rgb(143, 181, 188);
}
